<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
</head>
<body>
<h1>Task List</h1>
<table>
    <thead>
    <tr>

        <th>Task Name</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.status}"></td>
        <td>
            <button>
                <a th:href="@{/view/edit-task/{id}(id=${task.id})}" style="text-decoration: none; color: inherit;">Edit</a>
            </button>
            <button>
                <a th:href="@{/view/delete-task/{id}(id=${task.id})}" style="text-decoration: none; color: inherit;">Delete</a>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<button>
    <a th:href="@{/view/create-task}" style="text-decoration: none; color: inherit;">Add New Task</a>
</button>
</body>
</html>
